* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #fafafa;
}

.ADD-BOOK {
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  width: 184px;
  height: 45px;
  border-radius: 3px;
  background-color: #0290ff;
  text-transform: uppercase;
}

.fa-user {
  width: 17px;
  height: 17px;
  color: #0290ff;
}

nav {
  height: 95px;
  background-color: #ffffff;
}
